<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnRack</title>
    {% include  'css.html' %}
</head>
<body>
    <div class="intro">
        <h1 class="logo-header">
            <span class="logo">Learn</span><span class="logo">Rack</span>
        </h1>
    </div>
    <div class="e"><h4>LearnRack</h4></div>
    <div class="searchBox">
        </button>
    </div>
    <header>
         <!-- <h4>LearnRack</h4> -->
        <a class="logo" href="/"><img src="images/logo.svg" alt="logo"></a>
            <nav>
                <ul class="nav__links">
             
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">About</a></li>
                    
                </ul>
            </nav>
            <a class="cta" href="#">Contact</a>
            <p class="menu cta">Menu</p>

    </header>



    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="#">Services</a>
            <a href="#">Projects</a>
            <a href="#">About</a>
        </div>
    </div>
    {% block 'content' %}
    {% endblock %}
    <script type="text/javascript">
        const doc = document;
        const menuOpen = doc.querySelector(".menu");
        const menuClose = doc.querySelector(".close");
        const overlay = doc.querySelector(".overlay");
        
        menuOpen.addEventListener("click", () => {
          overlay.classList.add("overlay--active");
        });
        
        menuClose.addEventListener("click", () => {
          overlay.classList.remove("overlay--active");
        });
    </script>
    <script type="text/javascript">
        let intro = document.querySelector('.intro');
        let logo = document.querySelector('.logo-header')
        let logoSpan = document.querySelectorAll('.logo')
        window.addEventListener("DOMContentLoaded", ()=>{
            setTimeout(()=>{
                logoSpan.forEach((span, idx)=>{
                    setTimeout(()=>{
                        span.classList.add('active');
                    }, (idx + 1) * 400)
                    
                });
                setTimeout(()=>{
                    logoSpan.forEach((span, idx)=>{
                        setTimeout(()=>{
                            span.classList.remove('active');
                            span.classList.add('fade');
                        },(idx+1)*50)
                    })
                },2000);

                setTimeout(()=>{
                    intro.style.top='-100vh';
                },2300)
            })
        })
    </script>
</body>
</html>