{% extends 'base.html' %}
{% block 'content' %}
<center>
<h1 class="text-white text-3xl underline m-20">{{course.title}}</h1>
</center>

<div class="mt-36">
    <div style="align-items: center;" class="flex justify-evenly content-center place-content-center align-center">
        {% if 'previous_video' == "False" %}
            <div class="relative bg-blue-700/30 p-5 rounded-lg w-[500] h-[270]">
            <center><span class="text-white">Previous Video</span></center>
            </div>
        {% else %}
        <a href="https://www.youtube.com/watch?v={{previous_video}}">
            <div class="relative bg-blue-700/30 p-5 rounded-lg w-[500] h-[270]">
            <img style="object-fit:cover;object-position:cover;" class="rounded-lg w-full h-full " src="https://i.ytimg.com/vi/{{previous_video}}/hqdefault.jpg" alt="image1">
            <center><span class="text-white">Previous Video</span></center>
            </div>
        </a>
        {% endif %}
        <a href="https://www.youtube.com/watch?v={{current_video}}">
            <div class="bg-blue-200/70 p-5 rounded-lg w-[560] h-[315]">
            <img style="object-fit:cover;object-position:cover;" class="rounded-lg w-full h-full " src="https://i.ytimg.com/vi/{{current_video}}/hqdefault.jpg" alt="image2">
            <center><span class="text-white">Continue Watching</span></center>        
            </div>
        <a>
        {%if 'next_video' %}
        <a href="https://www.youtube.com/watch?v={{next_video}}">
            <div class="bg-blue-700/30 p-5 rounded-lg w-[500] h-[270]">
            <img style="object-fit:cover;object-position:cover;" class="rounded-lg w-full h-full " src="https://i.ytimg.com/vi/{{next_video}}/hqdefault.jpg" alt="image3">
            <center><span class="text-white">Upcoming Video</span></center>
            </div>
        </a>
        {% endif %}
    </div>
<div>
<center>
<div class="text-3xl text-white my-10">
    Progress: {{course.complete_percentage}}%
</div>

<button class="text-white px-5 py-2 text-2xl bg-blue-800 rounded"> <a href="{% url 'course_notes' course_id=course.id %}">Course Notes </a> </button>
</center>

{% endblock %}