{% extends 'base.html' %}
{% block 'content' %}
<div class="intro">
    <h1 class="logo-header">
        <span class="logo">Learn</span><span class="logo">Rack</span>
    </h1>
</div>



<script type="text/javascript">
    let intro = document.querySelector('.intro');
    let logo = document.querySelector('.logo-header')
    let logoSpan = document.querySelectorAll('.logo')
    window.addEventListener("DOMContentLoaded", ()=>{
        setTimeout(()=>{
            logoSpan.forEach((span, idx)=>{
                setTimeout(()=>{
                    span.classList.add('active');
                }, (idx + 1) * 400)
                
            });
            setTimeout(()=>{
                logoSpan.forEach((span, idx)=>{
                    setTimeout(()=>{
                        span.classList.remove('active');
                        span.classList.add('fade');
                    },(idx+1)*50)
                })
            },2000);

            setTimeout(()=>{
                intro.style.top='-100vh';
            },2300)
        })
    })
</script>
{% endblock %}