{% extends 'base.html' %}
{% block 'content' %}
<style> @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Righteous&display=swap'); </style>
<body><div class="video"><iframe width="900" height="500" src="https://www.youtube.com/embed/xU0_nIWQ0zg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
<div class="note"><input type="text" class="txt1"></div>
<div class="disc"><p class="vidtitle">BRILLIANT PERFORMANCE | FaZe Temperrr vs. Slim Albaher Full Fight</p>
<div class="chan"><p class="channel">DAZN Boxing </p>
<p class="dis">The DAZN X Series returns on October 15 as Hasim Rahman Jr. takes on Vitor Belfort. SUBSCRIBE NOW ON DAZN.com

    Coming soon on DAZN 🔜
    📍 Canelo vs. GGG III, September 17
    📍 Chris Eubank Jr. vs. Conor Benn, October 8
    📍 Hasim Rahman Jr. vs. Vitor Belfort, October 15
    
    Subscribe to our YouTube channel 👉  http://bit.ly/DAZNBoxingYouTube
    
    Download the DAZN app now 👉  http://bit.ly/DAZNYoutube
    
    Follow DAZN Boxing On Social Media 👇
    Twitter: https://www.twitter.com/DAZNBoxing
    Instagram: https://www.instagram.com/DAZNBoxing
    Facebook: https://www.facebook.com/DAZN
    
    The DAZN Boxing Show ► https://bit.ly/3EQ70HN
    DAZN Rewind ► https://bit.ly/32iAaRT
    
    #DAZN #DAZNBoxing #Boxing</p></div> </div>
<div class="sug"></div>



</body>

<style>
    *{
        background-color: #111827 ;
    
    }
    .video{
        width: 900px;
        position: relative;
        background-color:#ffffff;
        height: 500px;
        top: 15%;
        left: 2%;
        border-radius: 20px;
        box-shadow: 0px 10px 15px #1693bc;
    }
    .video.sug {
        background-color: #fed9ff;
        width: 600px;
        height: 150px;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: center;
        padding: 20px;
      }
      .sug{
        background-color: #34446b;
        width: 300px;
        height: 650px;
        border-radius: 20px;
        position: relative;
        display: inline-block;
        left: 75%;
        top: -60%;

      }
      .note{
        background-color: black;
        position: relative;
        left: 75%;
        display: inline-block;
        top: 0%;
        /* bottom: -40px; */
        width: 300px;
        height: 500px;
        top: -400px;
        border-radius: 20px;
        
      }
      .disc{
        background-color: bisque;
        position: relative;
        display: inline-block;
        width: 900px;
        height: 500px;
        left: -22.5%;
        top: 120px;
        border-radius: 15px;

      }
      .txt1{
        /* height: 500px;
        width: 900px; */
        width: 300px;
        height: 500px;
        background-color: #1E293B;
        border-radius: 15px;
        text-align: center;
        color: white;
      }
      .txt2{
        width: 900px;
        height: 500px;  
        border-radius: 15px;
        color: white;
        text-align:center;
    
      }
      .vidtitle{
        color: #000000;
        background-color: transparent;
        text-align: center;
        font-family: 'Righteous', cursive;
        font-size: 24px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
      }
      .channel{
        color: #000000;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        background-color: bisque;
        
      }
      .dis{
        background-color: bisque;
        font-size: 15px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        background-color: bisque;
        text-align: center;
      }
    
</style>



{% endblock %}